apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  labels:
    app: face-recognition-oblique
  name: face-recognition-oblique
  namespace: default
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/target: "{CONCURRENCY_VALUE}" # change this for different concurrency  # used in expt.(70, 35, 18)
    spec:
      containers:
        - image: "summitshrestha/face-recognition-eqv-cloud:latest" # build the image from the apps/ and add it here
          env:
          - name: SERVICE_URL
            value: "http://face-recognition-standalone-cloud.default.{CLOUD_IP}.sslip.io/recognize" # add based on your IP; e.g. http://face-recognition.default.141.215.80.233.sslip.io/recognize
          - name: HOST_HEADER
            value: "face-recognition-standalone-cloud.default.{CLOUD_IP}.sslip.io" # add based on your IP; e.g. face-recognition.default.141.215.80.233.sslip.io
      nodeSelector:
        role: worker
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: face-recognition-oblique
  namespace: default
  labels:
    serving.knative.dev/service: face-recognition-oblique
spec:
  namespaceSelector:
    matchNames:
    - default
  selector:
    matchLabels:
      serving.knative.dev/service: face-recognition-oblique
  podMetricsEndpoints:
  - targetPort: 9091