apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  labels:
    app: face-recognition-oblique
  name: face-recognition-oblique
  namespace: default
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/target: "{CONCURRENCY_VALUE}" # change this for different concurrency
        autoscaling.knative.dev/max-scale: "1" # change max, 1 here as nano cannot support more
    spec:
      containers:
        - image: "summitshrestha/face-recognition-eqv-edge-gpu-nano:latest" # for x86, use: "summitshrestha/face-recognition-eqv-edge-gpu-x86:latest"
      nodeSelector:
        igpu: "true"
