apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  labels:
    app: face-recognition-oblique
  name: face-recognition-oblique
  namespace: default
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/target: "{CONCURRENCY_VALUE}" # change this for different concurrency
    spec:
      containers:
        - image: "summitshrestha/face-recognition-eqv-hybrid-edge:latest" # build the image from the apps/ and add it here
          env:
          - name: SERVICE_URL
            value: "http://face-recognition-hybrid-cloud.default.{CLOUD_IP}.sslip.io/recognize" # add based on your IP; e.g. http://face-recognition.default.141.215.80.233.sslip.io/recognize
          - name: HOST_HEADER
            value: "face-recognition-hybrid-cloud.default.{CLOUD_IP}.sslip.io" # add based on your IP; e.g. face-recognition.default.141.215.80.233.sslip.io
      nodeSelector:
        role: worker
        # gpu: "true"
  traffic:
    # these are initial traffic distribution values, which changes at runtime
    - latestRevision: true # hybrid
      percent: 40
        #- revisionName: face-recognition-oblique-00003 # gpu; less traffic due to very constrained resource
        #percent: 10
    - revisionName: face-recognition-oblique-00002 # edge
      percent: 30
    - revisionName: face-recognition-oblique-00001 # cloud
      percent: 30